@import "./../../common/styles/sass/variables.scss";
@import "./../../common/styles/sass/mixins.scss";

.project {
  width: 38vw;
  background: $bgSecColor;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  @media screen and (max-device-width: 768px) {
    min-width: 80vw;
  }

  .image {
    width: 100%;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $textColor;
    background-size: cover;
    background-position: center;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      background-color: rgb(36, 36, 36);
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 50%;
    }
  }
  .projectInfo {
    padding: 25px 20px;

    .title {
      @include text($josefineFontFamily, 16px, 1.2);
      letter-spacing: 1px;
      margin: 0 0 5px;
    }

    .description {
      @include text($poppinsFontFamily, 14px, 1.8);
      font-weight: 400;
    }
  }
}
