@import './../common/styles/sass/variables.scss';

.header {
    height: 80px;
    background-color: $bgSecColor;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    z-index: 1;
}