@import "./../../common/styles/sass/variables.scss";
@import "./../../common/styles/sass/mixins.scss";

.nav {
  border: solid 1px black;
  width: 300px;
  display: flex;
  justify-content: space-between;
  margin-right: 15px;
  & a {
    color: white;
    text-decoration: none;
    @include text($josefineFontFamily, 16px, 1.2);
    letter-spacing: 1px;
    margin: 0 0 5px;
  }
  & a:hover {
    text-decoration: underline;
    transform: scale(1.05);
    transition: 0.2s;
    color: $primaryColor;

  }
}
