.mySkillBlock {
    width: 250px;
    background-color: grey;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.icon {
    width: 60px;
    height: 60px;
    transform: rotate(45deg);
    background-color: hotpink;
}
@media screen and (max-device-width: 768px) {
    .mySkillBlock {
        margin-top: 10px;
    }
}