.skillsBlock {
    min-height: 100vh;
    background-color: rgb(199, 222, 135);
}

.skillsContainer {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.skills {
    border: 1px solid green;
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

.title {
    background-color: grey;
}

/* @media screen and (max-device-width: 768px) {
    .skillsContainer {
        flex-direction: row;
    }
    .skillsBlock {
        height: 100vh;
    }
} */