@import "./../../styles/sass/variables.scss";
@import "./../../styles/sass/mixins.scss";

// .button {
//   width: 200px;
//   height: 50px;
//   background-color: rgb(66, 66, 66);
//   margin: 10px;
//   color: $textColor;
//   font-family: "Poppins", sans-serif;
//   font-size: 16px;
//   font-weight: 400;
//   outline: none;
//   border-radius: 5px;
//   border: none;
//   position: relative;
//   z-index: 1;
//   &:hover {
//     background-color: rgb(37, 37, 37);
//     cursor: pointer;
//     box-shadow: 5px 5px 5px black;
//     text-decoration: underline;
//   }
// }

.button {
  border: none;
  @include flex(row, center, center, nowrap);
  @include text($poppinsFontFamily, 18px, 1.2);
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 8px 20px;
  max-width: 200px;
  width: 100%;
  color: $textColor;
  outline: none;
  position: relative;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0);
  &::after {
    content: "";
    position: absolute;
    width: 50%;
    height: 10px;
    background-color: $primaryColor;
    bottom: 0;
    z-index: -1;
    transition: all 0.2s ease-in-out;
  }
  &:hover {
    text-decoration: none;
    color: $textColor;
    cursor: pointer;
    &::after {
      width: 100%;
      height: 110%;
      transition: all 0.3s ease-in-out 0s;
    }
  }
}
