@import "./variables.scss";

@mixin text($fontFamily, $fontSize, $lineHeight) {
  font-family: $fontFamily;
  color: $textColor;
  font-size: $fontSize;
  line-height: $lineHeight;
}

@mixin photo() {
  background-color: $textColor;
  background-size: cover;
  background-position: center;
}

@mixin container() {
  width: 80%;
  margin: 0 auto;
}

@mixin bgSetting() {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@mixin flex($direction, $justifyContent, $alignItems, $wrap) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justifyContent;
  align-items: $alignItems;
  flex-wrap: $wrap;
}
