$textColor: #fff;
$primaryColor: #4e93e6;
$bgColor: #1f1f20;
$bgSecColor: #252527;
$josefineFontFamily: "Josefin Sans", sans-serif;
$poppinsFontFamily: "Poppins", sans-serif;

//временное значение
//$border: 1px solid rgba(255, 255, 255, 0.459);