@import "./../common/styles/sass/variables.scss";
@import "./../common/styles/sass/mixins.scss";

.footerBlock {
  min-height: 30vh;
  background-color: $bgSecColor;
  .footerContainer {
    flex-direction: column;
    & h2 {
      @include text($josefineFontFamily, 22px, 1.2);
      letter-spacing: 3px;
      font-weight: 700;
      margin-bottom: 20px;
      cursor: default;
    }
    .items {
      width: 60vw;
      height: 100px;
      border: $border;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
   
      @media screen and (max-device-width: 768px) {
        width: 100%;
      }
    }
  }
}
