.title {
    background-color: grey;
}

.footerBlock {
    min-height: 30vh;
    background-color: rgb(190, 180, 255);
}
.footerContainer {
    flex-direction: column;
}
.items {
    width: 60vw;
    height: 100px;
    border: 1px black solid;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.item {
    width: 50px;
    height: 50px;
    background-color: gray;
}
@media screen and (max-device-width: 768px) {
    .items {
        width: 100%;
    }
}