.projectsBlock {
    min-height: 100vh;
    background-color: rgb(222, 135, 222);
}

.projectsContainer {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.title {
    background-color: grey;
}

.projects {
    border: 1px solid green;
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap;
}

@media screen and (max-device-width: 768px) {

    .projects {
        border: 1px solid green;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
       
    }
}